.sectionContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image:url('https://images.unsplash.com/photo-1536700503339-1e4b06520771?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.headingText{
    padding-top:15vh;
    text-align:center;
    
}
.headingText h1{
    font-size: 45px;
    color: rgb(237, 216, 187);
}
.headingText p{
    font-size: 20px;
    color: rgb(237, 216, 187);
}

.footerButtons {
    display: flex;
    margin-bottom: 30px;

}
.shopButton,.driveButton,.driveButton:hover{
    background-color: white;
    height: 40px;
    width: 250px;
    color:black;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    opacity: 0.85;
    margin: 5px;
}
.driveButton{
    background-color: transparent;
    color: white;
    border: solid white 2px;
   
}

@media (max-width:768px){
    .footerButtons{
        flex-direction: column;
    }
}
